# database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=dataforge
DATABASE_USER=postgres
DATABASE_PASSWORD=

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# appwrite
APPWRITE_BUCKET_ID=
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=

# jwt
JWT_SECRET=change-me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
FRONTEND_URL=http://localhost:8080
BACKEND_URL=http://localhost:8000

# llm
GROQ_API_KEY=
GITHUB_TOKEN=
